.page {

	margin-left: 70px;
	margin-right: 70px;
}



.container{

	background-color: white;
	border: 10px red solid;
	display: inline-block;
	padding: 60px 60px;


}

/*.logo{*/
	/*margin: 10px 10px;*/
	/*float: left;*/
	/*display: inline-block;*/
}

/*.Headlogo{*/

	/*height: 100px;*/
	/*width: 100px;*/
/*}*/



.navhead a{

	/*float: right;*/
	text-align: right;
	text-decoration: none;
	display: inline-block;
	margin-left: 750px;
	line-height: -90px;
	margin-right: 10px;
	color: grey;
	

}


.navbar .nav {
     position: relative;
     left: 0;
     display: block;
/*     float: left;*/
     margin: 0 10px 0 0;
}

.oak {

width: 150px;
height: 150px;

}





.wrapper {


