.page{

margin-top: 20px;
margin-right: 50px;
margin-left: 50px;
border: black;

	}

header {
	overflow: hidden;
	/*border: 10px solid maroon;*/
	height: 150px;



}

#headlogo {
width:100px; 
height:100px;
float: left;
margin-left: 20px;
}


.navbar{
    display: inline-block;
    float: right;
    line-height: 150px;
    word-spacing: 25px;
    margin-right: 35px;

}

.navbar a {

color: #e10000;
text-decoration: none;
font-size: 24px;
font-weight: bold;
word-spacing: 20px;
padding: 5px;
/*border: 2px solid grey;*/
/*border-radius: 10px;*/



}

.underheader{

	height: 10px;
	/*width: 1339px;*/
	background-color: black;
	border: 5px solid black;
	border-radius: 10px;
}


body{
	clear: both;
    /*border: 10px solid grey;*/
}

img .oak{

margin: 50px 50px;

}


